In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\Home\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
print('xin chào')

xin chào

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
#tạo dataframe rỗng
import pandas as pd
df = pd.DataFrame()
print(df)
# display(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
#tạo dataframe từ list
#khai báo list
lst = ['kế toán', 'kinh doanh','tiếp thị']
#gán giá trị list vào dataframe
df = pd.DataFrame(lst,columns=['Nghề'])
df

         Nghề
0     kế toán
1  kinh doanh
2    tiếp thị

In [18]:
#tạo dataframe từ tuples
tuples = [('kế toán',2000), ('kinh doanh',2100),('tiếp thị',3000)]
#gán giá trị list vào dataframe
df = pd.DataFrame(tuples, columns=['Nghề', 'Lương'])
df

         Nghề  Lương
0     kế toán   2000
1  kinh doanh   2100
2    tiếp thị   3000

In [23]:
# Tạo DataFrame từ Dictionary :
# Khai báo Dictionary :
dic = {'Công việc':['Kỹ sư','Bác sĩ','Giáo viên'],\
       'Thu nhập':[3000, 3100, 2900]}
# Gán giá trị của Dictionary vào DataFrame
df = pd.DataFrame(dic)
df

   Công việc  Thu nhập
0      Kỹ sư      3000
1     Bác sĩ      3100
2  Giáo viên      2900

In [24]:
# Tạo Series từ Dictionary
# Khai báo Dictionary:
dict = {0 : 'Kế toán', 1 : 'Kinh doanh', 2 : 'Tiếp thị'}
# Gán giá trị của Dictionary vào Series
seri = pd.Series(dict)
seri

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Công việc  3 non-null      object
 1   Thu nhập   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [26]:
# Tạo Series từ Numpy array
# Tạo Numpy array
arr = np.array([51,65,48,59,68])
# Gán giá trị của array vào Series
seri2 = pd.Series(arr)
seri2

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [27]:
# Tạo series từ các giá trị vô hướng
# Tạo Series
seri = pd.Series(10, index=[0,1,2,3,4,5])
# seri = pd.Series(np.arange(1,18,2))
seri

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [29]:
# Tạo series từ các giá trị vô hướng
# Tạo Series
# seri = pd.Series(10, index=[0,1,2,3,4,5])
seri = pd.Series(np.arange(1,20,2))
seri

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int32

In [ ]:
# Tạo series từ các giá trị vô hướng
# Tạo Series
# seri = pd.Series(10, index=[0,1,2,3,4,5])
seri = pd.Series(np.arange(1,20,2))
seri

In [36]:
# Nhập dữ liệu
file = 'C:/Users/Home/Desktop/code gym 2/FoodPrice_in_Turkey.csv'
data = pd.read_csv(file,header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
# data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# display(data2)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [38]:
data.to_csv('C:/Users/Home/Desktop/code gym 2/second_time_in_Turkey.csv')

In [39]:
#Xác định số dòng và số cột của dữ liệu
print(data.shape) # shape là property, tính chất, thuộc tính
#Số cột
print(data.shape[0])
#Số hàng
print(data.shape[1])

(7381, 8)
7381
8

In [40]:
df.columns()

TypeError: 'Index' object is not callable